.settings/
GeneXusCryptography/target/
GeneXusCryptography/.project
GeneXusCryptography/.classpath
GeneXusCryptography/src/test/
target/
.classpath
.project
GeneXusJWT/src/test/
GeneXusXmlSignature/src/test/
GeneXusSftp/src/test/
GeneXusFtps/src/test/
SecurityAPICommons/src/test/

src/test/
src/main/java/
.metadata/
